<section class="bg-blue-100">
  <div class="max-w-[1400px] m-auto p-2">
    <h1 class="text-5xl font-bold m-5">{{ title }}</h1>
    <aside class="hidden"></aside>
    <section>
      <div class="flex flex-row flex-wrap">
        @for (launch of launches; track launch.flight_number) {
        <figure
          class="max-w-[300px] flex flex-col justify-between border rounded-xl bg-white shadow-xl m-2 p-3"
        >
          <div>
            <div class="bg-blue-100 rounded-xl p-2">
              <img
                [src]="launch.links.mission_patch"
                [alt]="launch.mission_name"
                class="w-full"
              />
            </div>
            <h2 class="text-xl font-bold">
              {{ launch.mission_name }} #{{ launch.flight_number }}
            </h2>
            <br class="h-[10px] w-full block border border-black" />
          </div>
          <div>
            <div class="flex flex-row justify-between">
              <span class="font-semibold">Mission Ids</span>
              <span>
                @if (launch.mission_id.length === 0) { - } @else { @for(id of
                launch.mission_id; track id) {
                {{ id }}
                } }
              </span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="font-semibold">Launch Year</span
              ><span>{{ launch.launch_year }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="font-semibold">Successful Launch</span
              ><span>@if (launch.launch_success) {YES} @else {NO}</span>
            </div>
            <!-- <div class="flex flex-row justify-between">
              <span>Successful Landing</span
              ><span>{{ launch.launch_year }}</span>
            </div> -->
          </div>
        </figure>
        }
      </div>
    </section>
  </div>
</section>
